.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    background: none;
    gap: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  